.footer {
  position: relative;
  box-sizing: border-box;
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;
  padding-top: 56px;

  @include for-tablet {
    margin-top: 40px;
  }

  &-phone {
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 28px;

    @include for-tablet {
      margin-bottom: 10px;
    }

    @include for-mobile {
      margin-bottom: 28px;
    }
  }

  &-adress {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;

    @include for-mobile {
      margin-bottom: 14px;
    }
  }

  &-stick {
    display: block;

    &-wrap {
      margin: 12px 0 15px;

      @include for-tablet {
        display: none;
      }
    }
  }

  &-heading {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #000000;

    @include for-tablet {
      position: relative;
      cursor: pointer;
      margin-bottom: 15px;

      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 50%;
        margin-top: -3.5px;
        display: block;
        width: 10px;
        height: 7px;
        background: center / auto url(../img/arrow-check.svg) no-repeat;
        transition: 0.2s;
      }

      &-active {
        &:after {
          transform: rotate(180deg);
        }
      }
    }
  }

  &-item {
    @include for-tablet {
      display: none;

      &:last-child {
        margin-bottom: 20px;
      }
    }

    & + & {
      margin-top: 12px;
    }

    &-active {
      display: block;
    }
  }

  &-link {
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    transition: 0.2s;

    &:hover {
      color: #eb5757;
    }
  }

  &-row {
    list-style: none;
    width: 15.2%;

    @include for-tablet {
      width: 100%;

      &:last-child {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 40px;
      }
    }

    @include for-mobile {
      &:last-child {
        display: block;
      }
    }

    &:nth-child(4) {
      width: 20.1%;

      @include for-tablet {
        width: 100%;
      }
    }

    &:nth-child(5) {
      width: 23.76%;

      @include for-tablet {
        width: 100%;
      }
    }

    &-wrap {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      box-sizing: border-box;
      padding-bottom: 56px;

      @include for-tablet {
        display: block;
        padding-bottom: 35px;
      }
    }
  }

  &-bot_row {
    padding: 20px 0;
    box-sizing: border-box;
    background: #333333;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include for-tablet {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: calc(100% - 32px);
      }
    }

    p {
      width: 58.5%;
      display: block;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: #bdbdbd;

      @include for-tablet {
        font-size: 11px;
        line-height: 16px;
        width: 100%;
        max-width: 542px;
      }
    }

    a {
      display: block;
      font-weight: normal;
      font-size: 13px;
      line-height: 20px;
      color: #e0e0e0;
      text-decoration: none;

      @include for-tablet {
        font-size: 11px;
        line-height: 16px;
        margin-bottom: 9px;
        order: -1;
      }
    }
  }
}

#go_work-modal {
  padding: 20px;
}

.modal {
  &-content {
    max-width: 450px;
    width: 96%;
    background-color: #fff;
    margin: 0 auto;
  }

  &-title {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 27px;
  }

  &-desc {
    display: block;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
  }

  &-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &-input {
    box-sizing: border-box;
    margin: 0 0 10px;
    padding: 5px 20px;
    outline: 0;
    display: block;
    height: 40px;
    width: calc(50% - 5px);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;

    @include for-mobile {
      width: 100%;
    }
  }

  &-text {
    box-sizing: border-box;
    margin: 0;
    padding: 5px 20px;
    outline: 0;
    display: block;
    height: 100px;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 20px;
  }

  &-btn {
    display: flex;
    margin: 20px 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-transform: uppercase;
    text-decoration: none;

    span {
      display: block;
      margin-right: 20px;
    }
  }

  &-polic {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    input {
      display: none;

      &:checked + b {
        background: center / auto url(../img/check.svg) no-repeat;
      }
    }

    b {
      box-sizing: border-box;
      display: block;
      width: 20px;
      height: 20px;
      flex-shrink: 0;
      border-radius: 0;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.5);
      margin-right: 20px;
    }

    &-info {
      font-size: 14px;
      line-height: 17px;

      a {
        text-decoration: underline;
      }
    }
  }
}
