.catalog-page {
  overflow: hidden;

  .choices__item {
    white-space: nowrap;
  }

  .header {
    box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.1);
  }

  .desktop-slide_menu {
    @media screen and (min-width: 1241px) {
      display: none;
    }
  }

  .header-catalog_btn--hold {
    pointer-events: none;

    @include for-desktop {
      pointer-events: all;
    }
  }
}

.catalog {
  font-family: 'Open Sans', sans-serif;
  background-color: #fefefe;

  @include for-tablet {
    .container {
      width: calc(100% - 48px);
    }
  }

  @include for-mobile {
    .container {
      width: calc(100% - 32px);
    }
  }

  .slick-dots {
    bottom: -16px;

    button {
      width: 4px;
      height: 4px;
      margin: 0 4px;
    }
  }
  &__nav {
    display: flex;
    flex-wrap: nowrap;
    font-size: 14px;
    padding-top: 14px;
    overflow-x: auto;
    overflow-y: hidden;
    @include for-tablet {
      padding-top: 80px;
      width: calc(100% + 14px);
    }
  }

  &__nav-item {
    list-style: none;
    flex: 0 0 auto;

    &:not(:last-child) {
      position: relative;
      margin-right: 22px;
      &::after {
        position: absolute; /* Абсолютное позиционирование */
        content: '';
        border: 3px solid transparent;
        border-left: 3px solid red;
        top: 4px;
        right: -16px;
      }
    }

    &:last-child {
      a {
        color: #828282;
      }
    }
  }

  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 64px;
    padding-top: 20px;
    margin-bottom: 23px;
    @include for-desktop() {
      padding-top: 15px;
      font-size: 31px;
      margin-bottom: 11px;
    }
    @include for-mobile {
      font-size: 28px;
      padding-top: 9px;
      margin-bottom: 4px;
    }
  }

  &__content {
    position: relative;
  }
  &__card {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    flex-direction: column;
    position: relative;
    width: 33.3333333%;
    padding: 24px 20px;
    border: 1px solid #e0e0e0;
    border-bottom-width: 0;
    border-right-width: 0;
    transition: box-shadow 0.2s linear;
    background-color: #fff;

    @include for-tablet {
      padding: 24px 23px;
    }

    &:nth-child(3n) {
      border-right-width: 1px;

      @include for-tablet {
        border-right-width: 0;
      }

      @include for-mobile {
        border-right-width: 1px;
      }
    }

    &:nth-child(2n) {
      @include for-tablet {
        border-right-width: 1px;
      }
    }

    &:nth-last-child(1),
    &:nth-last-child(2),
    &:nth-last-child(3) {
      border-bottom-width: 1px;
    }

    &:nth-last-child(3) {
      @include for-tablet {
        border-bottom-width: 0;
      }
    }

    &:nth-last-child(2) {
      @include for-mobile {
        border-bottom-width: 0;
      }
    }

    @include for-tablet {
      width: 50%;
    }

    @include for-mobile {
      width: calc(100% + 32px);
      margin: 0 -16px;
      padding: 12px 12px 24px;
      border-right-width: 1px;
    }

    &:hover {
      box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.15);

      .catalog__card-interface {
        opacity: 1;
      }
    }
  }
  &__card-interface {
    position: absolute;
    right: 28px;
    top: 28px;
    display: flex;
    z-index: 3;
    align-items: center;
    opacity: 0;
    transition: 0.3s;

    @include for-tablet {
      opacity: 1;
    }

    @include for-mobile {
      right: 16px;
      top: 22px;

      .catalog__card-tooltip {
        &:first-child {
          margin-right: 7px;
        }
      }
    }
  }
  &__favourite {
    width: 14px;
    height: 12px;
    &-wrapper {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  &__sravnit {
    width: 18px;
    height: 20px;
    &-wrapper {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__card-tooltip {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    position: relative;
    &-favourite {
      width: 100%;
      height: 100%;
      &:hover {
        .catalog__favourite-wrapper {
          background: #f2f2f2;
          border-radius: 100px;
          &:hover svg {
            path {
              fill: #f2f2f2;
            }
          }
          &:hover + .catalog__card-popup-favourite {
            opacity: 1;
          }
        }
      }
    }
    &-sravnit {
      width: 100%;
      height: 100%;
      &:hover {
        .catalog__sravnit-wrapper {
          background: #f2f2f2;
          border-radius: 100px;
          &:hover svg {
            rect {
              fill: #f2f2f2;
            }
          }
          &:hover + .catalog__card-popup-sravnit {
            opacity: 1;
          }
        }
      }
    }
  }
  &__card-popup {
    padding: 8px 12px;
    background: #fff;
    position: absolute;
    top: -43px;
    width: 182px;
    z-index: 100;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    left: -84px;
    font-size: 14px;
    line-height: 20px;
    color: #333333;

    &-sravnit {
      left: -85px;
      opacity: 0;
    }

    &-favourite {
      opacity: 0;
    }
    &::after {
      content: '';
      position: absolute;
      border: 5px solid transparent;
      border-top: 10px solid #fff;
      left: 50%;
      bottom: -15px;
    }
  }

  &__card-img {
    max-width: 256px;
    width: 100%;
    max-height: 256px;
    height: 100%;

    @include for-tablet {
      height: 100% !important;
      max-height: 98%;
      width: auto;
      max-width: 98%;
      object-fit: cover;
      object-position: center;
    }
    &-wrapper {
      position: relative;
      margin-bottom: 30px;

      @include for-tablet {
        .slick-slide {
          height: 310px;
        }

        margin-bottom: 35px;
      }

      @include for-mobile {
        .slick-slide {
          height: 300px;
        }
      }
    }
  }

  &__card-content {
  }

  &__card-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 7px;

    @include for-tablet {
      max-width: 85%;
    }
  }

  &__check-price {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    justify-content: flex-start;

    @include for-mobile {
      margin-bottom: 16px;
    }

    .choices {
      max-width: 112px;
      width: 100%;

      @include for-tablet {
        max-width: 124px;
      }
    }
    select {
      margin-right: 12px;
    }
  }

  &__price {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    color: #4f4f4f;
    padding-left: 12px;
    margin-left: auto;

    bold {
      font-weight: 900;
      color: #000;
      font-size: 20px;
    }

    @include for-mobile {
      padding-right: 6px;
    }
  }

  &__card-desc {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 7px;

    @include for-mobile {
      margin-bottom: 15px;
    }
  }
  &__panel {
    padding: 25px 30px 12px 30px;
    transition: transform 0.2s linear;
    transform-origin: top center;
    border: 1px solid #e0e0e0;

    @include for-tablet {
      position: fixed;
      transform: translate3d(100vw, 0, 0);
      background: #fff;
      z-index: 100;
      padding: 24px;
      padding-top: 91px;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      overflow: auto;
    }

    @include for-mobile {
      padding: 81px 14px 14px;
    }
    &-mobile {
      transform: translate3d(100vw, 0, 0);
    }
    &-active {
      transform: scaleY(1);
    }
  }
  &__properties-wrapper {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-bottom: 9px;
  }

  &__properties-decor {
    &-one {
      max-width: 62px;
      width: 100%;
      margin-right: 4px;
      margin-left: 9px;
      border-bottom: 1px dotted #bdbdbd;
      display: none;
    }
    &-2 {
      max-width: 20px;
      width: 100%;
      margin-right: 4px;
      margin-left: 9px;
      border-bottom: 1px dotted #bdbdbd;
      display: none;
    }
    &-3 {
      max-width: 11px;
      width: 100%;
      margin-right: 4px;
      margin-left: 9px;
      border-bottom: 1px dotted #bdbdbd;
      display: none;
    }
    &-4 {
      max-width: 46px;
      width: 100%;
      margin-right: 4px;
      margin-left: 9px;
      border-bottom: 1px dotted #bdbdbd;
      display: none;
    }
  }

  &__properties-title {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #828282;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    width: 50%;
    flex-shrink: 0;

    &:after {
      content: '';
      display: block;
      width: auto;
      flex-grow: 1;
      margin-bottom: 2px;
      border-bottom: 1px dotted #bdbdbd;
    }
  }

  &__properties-desc {
    display: flex;
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    flex: 1 1 auto;
    padding-left: 6px;
  }

  &__filters {
    margin-top: 12px;
    margin-bottom: 6px;

    @include for-tablet {
      margin-top: 10px;
      margin-bottom: 3px;
    }

    @include for-mobile {
      margin-top: 2px;
      margin-bottom: 8px;
    }
  }

  &__filter {
    display: inline-flex;
    padding: 8px 12px;
    background: #f2f2f2;
    border-radius: 3px;
    margin-bottom: 8px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;

    @include for-tablet {
      margin-right: 3px;
    }
  }
  &__filter-wrapper {
    display: flex;
    background-color: #fff;
    @include for-tablet {
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }

    @include for-mobile {
      margin-bottom: 30px;
    }
  }
  &__button {
    width: 100%;
    color: #fff;
    background: #eb5757;
    border-radius: 3px;
    padding: 10px 0;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-top: auto;

    &:hover {
      background: #d73535;
    }
    &-active {
      width: 100%;
      display: flex;
      align-items: center;
      margin-top: auto;

      span {
        width: 30%;
        display: block;
        color: #eb5757;
        background: #fff;
        padding: 9px 0;
        cursor: pointer;
        border: 1px solid #eb5757;
        border-left: none;
        border-radius: 0 3px 3px 0;
        font-weight: 500;
        transition: 0.3s;
        &:hover {
          background: #eb5757;
          color: #fff;
        }
      }
      div {
        width: 70%;
        color: #fff;
        background: #eb5757;
        border-radius: 3px;
        padding: 10px 0;
        border: none;
        cursor: pointer;
        border-radius: 3px 0 0 3px;
        transition: 0.3s;
        &:hover {
          background: #d73535;
        }
      }
    }
  }

  &__choice {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &-row {
      display: flex;
      flex-wrap: wrap;
    }
    &-column {
      width: 33.333%;
      &:not(:nth-child(3n)) {
        padding-right: 33px;
      }
      margin-bottom: 20px;

      @include for-tablet {
        width: 50%;
        margin-bottom: 30px;
        &:not(:nth-child(3n)) {
          padding-right: 0px;
        }
        &:nth-child(4) {
          align-self: center;
          margin-bottom: 0;
        }

        &:nth-child(2n) {
          padding-left: 8px;

          @include for-mobile {
            padding-left: 0;
          }
        }

        &:not(:nth-child(2n)) {
          padding-right: 8px;

          @include for-mobile {
            padding-right: 0;
          }
        }
      }
      @include for-mobile {
        margin-bottom: 35px !important;
        width: 100%;
        padding-right: 0 !important;
        &:nth-child(4) {
          align-self: center;
        }
      }
    }
    &-desktop {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      @include for-tablet {
        display: none;
      }
    }

    &-tablet {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      display: none;
      @include for-tablet {
        display: flex;
      }

      .catalog__glass-unit {
        margin-right: 20px;
      }
      .catalog__fix-price {
        width: auto;
      }
      .catalog__tablet-select {
        width: 49%;
        margin-right: 20px;
      }
      .tablet-column {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    @include for-tablet {
      margin-bottom: 3px;
    }
  }

  &__glass-unit-column {
    margin-right: auto;
  }
  &__material-column {
    margin-bottom: auto;
  }
  &__brand-availability {
    display: flex;
  }
  &__brand {
    width: 100%;
    margin-right: 33px;

    @include for-tablet {
      margin-right: 0;
    }
  }
  &__brand-wrapper {
    display: flex;

    &:nth-child(2) {
    }
  }
  &__brand-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px;
  }

  &__brand-label {
    display: inline-flex;
    cursor: pointer;
    flex: 1 1 auto;

    &:first-child {
      .catalog__brand-castom-radio {
        border-radius: 3px 0 0 3px;
      }
    }

    &:last-child {
      .catalog__brand-castom-radio {
        border-radius: 0px 3px 3px 0;
      }
    }

    &:not(:last-child) {
      .catalog__brand-castom-radio {
        border-right: none;
      }
    }
  }

  &__brand-radio {
    position: relative;
    display: none;
    &:checked + .catalog__brand-castom-radio {
      border: 1px solid #eb5757;
      z-index: 1;
    }
  }
  &__brand-select {
    width: 100%;
  }
  &__brand-castom-radio {
    padding: 12px 10px;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    transition: 0.3s;
    font-weight: 300;
    display: inline-flex;
    width: 100%;
    justify-content: center;
    flex: 1 1 auto;
  }

  &__availability {
    @include for-tablet {
      margin: 0 15px;
    }

    @include for-mobile {
      margin: 0 0 0 64px;
    }
  }

  &__availability-title {
    margin-bottom: 14px;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }

  &__availability-label {
    position: relative;
    box-sizing: border-box;
    border-radius: 2px;
    padding: 2px;
    width: 41px;
    display: inline-flex;
    transition: 0.3s;
    cursor: pointer;
    span {
      position: relative;
      display: block;
      width: 38px;
      height: 22px;
      border-radius: 2px;
      border: 1px solid #bdbdbd;
      transform: translateX(0);

      &::after {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        top: 2px;
        left: 2px;
        background: #eb5757;
      }
    }
  }

  &__availability-radio {
    display: none;
    transition: 0.3s;

    & + .catalog__availability-castom-radio::after {
      transform: translateX(0);
      transition: 0.3s;
    }
    &:checked + .catalog__availability-castom-radio::after {
      right: 0;
      left: 1px;
      transform: translateX(100%);
      transition: 0.3s;
    }
  }

  &__availability-castom-radio {
  }

  &__content-wrapper {
    display: flex;
  }

  &__left-menu {
    position: relative;
    margin-right: 0;
    transform: none;
    @include for-desktop {
      display: none;
    }
    &::before {
      display: none;
    }
    &::after {
      display: none;
    }
  }
  &__column-left {
    position: relative;
  }

  &__column-right {
    max-width: calc(100% - 319px);

    @include for-desktop {
      max-width: calc(100%);
    }
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: -1px;
    padding: 1px;
  }

  &__sort {
    padding: 17px 0;
    font-weight: 700;
    border-left: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;

    @include for-tablet {
      width: 100%;
      border-left: none;
      border-right: none;
    }
    @include for-mobile {
      display: none;
    }

    &-mobile {
      display: none;
      min-width: 150px;
      .choices__item--disabled {
        display: none !important;
      }
      .choices__list--dropdown {
        z-index: 100;
      }

      .choices__inner {
        border: none;
        border-radius: 3px;
        background-color: #fff;
      }
      .choices__placeholder {
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        display: flex;
        align-items: center;
        color: #000000;
      }
      .choices__list--single {
        padding: 6px 30px 4px 4px;
      }

      @include for-mobile {
        display: block;
        min-width: 1px;
        width: 142px;

        .choices[data-type*='select-one']:after {
          right: 0;
          width: 8px;
          height: 8px;
          margin-top: -1px;
        }

        .choices__inner {
          padding-right: 0;
        }

        .choices__list--single {
          padding: 6px 8px 4px 4px;
        }
      }
    }
  }
  &__sort-subtitle {
    padding: 12px 0;
    font-weight: 600;
    padding: 0 32px;

    @include for-tablet {
      padding-right: 0;
    }
  }
  &__sort-label {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    font-weight: 300;
    // span {
    //   @include for-mobile {
    //     position: absolute;
    //     width: 100px;
    //     bottom: 10px;
    //   }
    // }
    span::before {
      position: absolute;
      content: '';
      border-top: 1px dotted #bdbdbd;
      bottom: -5px;
      left: 0;
      right: 0;
    }

    input {
      display: none;
      &:checked + span {
        color: red;
      }
      &:checked + span::before {
        border-top: dotted 1px red;
      }
    }
  }
}

.filter-mobile {
  display: none;
  padding: 12px 22px;
  border: 1px solid #e0e0e0;
  border: 1px solid #eb5757;
  border-radius: 3px;
  align-items: center;
  @include for-tablet {
    width: auto;
    display: inline-flex;
    padding: 11px 21px;
  }

  @include for-mobile {
    padding: 9px 20px;
  }
}

.filter-mobile-close {
  position: absolute;
  transform: translateX(0);
}

.filter-mobile-active {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding-left: 20px;
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(60, 59, 90, 0.04), 0px 2px 40px rgba(60, 59, 90, 0.04);

  @include for-mobile {
    padding-left: 15px;
    height: 54px;
  }
}
.catalog_never-mind {
  flex: 2 0 auto;
}

.number-of-cameras {
  flex: 1 1 auto;
}

.slick-catalog-wrapper {
  position: relative;
}
.slick-catalog-article {
  color: #4f4f4f;
  b {
    font-weight: 500;
  }

  @include for-mobile {
    bottom: 38px;
    right: 14px;
  }
}

.catalog__fix-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  span {
    display: block;
    width: 8px;
    height: 1px;
    background: #493d36;
  }

  input {
    box-sizing: border-box;
    display: block;
    padding: 12px 16px 12px 12px;
    width: calc(50% - 13px);
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #828282;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 3px;

    &::placeholder {
      font-weight: normal;
      font-size: 14px;
      line-height: 16px;
      color: #828282;
    }
  }
}

.paginations {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 36px 0 60px;

  &-item {
    margin: 0 4px;
  }

  &-link {
    box-sizing: border-box;
    display: flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    border: 1px solid #e0e0e0;
    box-sizing: border-box;
    border-radius: 3px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    font-family: 'Open Sans';
    background-color: #fff;

    &--active {
      border-color: #333333;
    }

    &:hover {
      opacity: 0.8;
    }
  }
}

.choices__placeholder {
  opacity: 1;
  color: #828282;
  font-weight: 400;
}

.desktop-slide_content-links_block {
  margin-top: 24px;

  p {
    display: block;
    margin-bottom: 12px;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #828282;
  }

  a {
    display: block;
    height: 46px;
    width: 146px;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }

    & + a {
      margin-top: 16px;
    }
  }
}

.exit {
  position: absolute;
  right: 14px;
  top: 20px;
  width: 32px;
  height: 32px;
  opacity: 1;
}
.exit:hover {
  opacity: 0.7;
}
.exit:before,
.exit:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: #333;

  @include for-mobile {
    top: -2px;
    left: 22px;
  }
}
.exit:before {
  transform: rotate(45deg);
}
.exit:after {
  transform: rotate(-45deg);
}

.catalog__glass-unit-column {
  .catalog__brand-label:first-child {
    @include for-tablet {
      flex-grow: 2.8;
    }
  }
}

.catalog__material {
  .catalog__brand-label:last-child {
    @include for-tablet {
      flex-grow: 2;
    }
  }
}
