.desktop-slide_menu-active {
}

.desktop-slide_menu-link {
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 30px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    right: 12px;
    width: 6px;
    height: 6px;
    background: center/contain url(../img/angl.svg) no-repeat;
    transition: transform 0.2s linear;
  }
}
.descktop-slide_menu-img {
  margin-right: 8px;
}

.desktop-slide_menu-item {
}

.desktop-slide_menu-link-active {
  background: #f2f2f2;

  &:before {
    transform: rotate(-90deg);
  }
}

.desktop-slide_content {
  position: absolute;
  top: -1px;
  left: 324px;
  z-index: -1;
  background-color: #fff;
  width: 340px;
  height: 100%;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  padding: 32px;
  transform-origin: center top;
  display: block;
  overflow: auto;
  opacity: 0;

  &-active {
    z-index: 10;
    opacity: 1;
  }

  &-title {
    transition: color 0.4s ease;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 20px;
    text-decoration: none;
    color: black;
    display: block;

    &:hover {
      color: #eb5757;
    }
  }

  &-text {
    margin-bottom: 22px;
    transition: color 0.4s ease;
    text-decoration: none;
    color: black;
    display: block;
    padding-left: 17px;

    & + .desktop-slide_content-title {
      margin-top: 30px;
    }

    &:hover {
      color: #eb5757;
    }
  }
}

.catalog-desktop-slide_content {
  top: 0;
  left: 319px;
}

.catalog-desktop-slide_menu-item {
  & + .catalog-desktop-slide_menu-item {
    .catalog-desktop-slide_menu-link {
      border-top-width: 0;
    }
  }
  .catalog-desktop-slide_menu-link {
    position: relative;
    z-index: 11;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px 7px;
    padding-right: 30px;
    background-color: #fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    border-top: 1px solid #e0e0e0;

    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 12px;
      width: 6px;
      height: 6px;
      background: center/contain url(../img/angl.svg) no-repeat;
      transition: transform 0.2s linear;
    }
  }
}

.catalog-desktop-slide_menu-link:hover {
  color: #333;
  background: #f2f2f2;
}

.slick-card {
  padding: 0 13px;

  .slick-item {
    padding: 0 5px;
  }

  .slick-arrow {
    margin-top: -6px;
  }

  .slick-arrow-next {
    right: 6px;
  }

  .slick-arrow-prev {
    left: 6px;
  }
}


.product-slick {
  .slick-arrow-next {
    position: absolute;
    right: 8px;
    margin-top: -10px;
  }
  .slick-arrow-prev {
    position: absolute;
    left: 8px;
    margin-top: -10px;
  }
  .slick-arrow-next-wrapper {
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
border-radius: 4px;
  }

  .slick-arrow-prev-wrapper {
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
border-radius: 4px;
  }
}

.interior-slick {
    @media (max-width: 1000px) {
      .slick-arrow {
        display: block!important; 
      }
    }
  .slick-arrow-next {
    position: absolute;
    right: 8px;
    margin-top: -10px;
  }
  .slick-arrow-prev {
    position: absolute;
    left: 8px;
    margin-top: -10px;
  }
  .slick-arrow-next-wrapper {
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    right: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
border-radius: 4px;
  }

  .slick-arrow-prev-wrapper {
    position: absolute;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    left: 0;
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: #FFFFFF;
box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
border-radius: 4px;
  }

}