.product {
    position: relative;
    width: 246px;
    height: 431px;
    padding: 12px 20px;
    border: 1px solid #e0e0e0;
    border-bottom-width: 1px;
    border-right-width: 0px;
    transition: box-shadow 0.2s linear;
    overflow: hidden;

    .catalog__card-img {
      width: 209px;
      height: 209px;
    }
    // @include for-desktop {
    //     width: 50%;
    // }
    &:nth-child(4n) {
      border-right-width: 1px;
    }
    //   @include for-tablet {
    //     border-right-width: 0;
    //   }

    //   @include for-mobile {
    //     border-right-width: 1px;
    //   }
    // }

    // &:nth-child(4n) {
    //   @include for-tablet {
    //     border-right-width: 1px;
    //   }
    // }

    // &:nth-last-child(1),
    // &:nth-last-child(2),
    // &:nth-last-child(3) {
    //   border-bottom-width: 1px;
    // }

    // &:nth-last-child(3) {
    //   @include for-tablet {
    //     border-bottom-width: 0;
    //   }
    // }

    // &:nth-last-child(2) {
    //   @include for-mobile {
    //     border-bottom-width: 0;
    //   }
    // }

    // @include for-tablet {
    //   width: 50%;
    // }

    // @include for-mobile {
    //   width: 100%;
    //   padding: 10px;
    //   border-right-width: 1px;
    // }

    &:hover {
      box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.15);

      .catalog__card-interface {
        opacity: 1;
      }
    }
  }
