.catalog {

    &__proportion {
    }
}
.proportion {
    
    &__subtitle {
        margin-bottom: 12px;
    }
    
    &__filters {
        display: flex;
        flex-wrap: wrap;
    }
    
    &__filter {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        margin-bottom: 12px;

        &:not(:last-child) {
            margin-right: 8px;
        }
        span {
        display: inline-flex;
        padding: 8px 12px;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        transition: 0.4s;
        }
        input {
            display: none;
            &:checked + span {
                opacity: 0.6;
            }
        }
    }
}
    