.catalog {

    &__proportion {
    }
}
.proportion {
    
    &__subtitle {
        margin-bottom: 12px;
        display: flex;
        align-items: center;
    }
    
    &__filters {
        display: flex;
        flex-wrap: wrap;
    }
    &__custom-checkbox {
        position: relative;
        input {
            display: none;

            &:checked + span:after {
                content: "";
                position: absolute;
                left: 14px;
                width: 20px;
                height: 20px;
                background: url("../img/check.svg");
                background-position: center;
                background-repeat: no-repeat;
                background-size: auto;
            }
        }
        span {
            display: flex;
            align-items: center;
            margin-left: 14px;


            &:before {
                content: "";
                position: static;
                display: block;
                width: 20px;
                height: 20px;
                border:1px solid #BDBDBD;
                box-sizing: border-box;
                margin-right: 12px;
            }
        }
        
        
    }
    &__filter {
        position: relative;
        cursor: pointer;
        display: inline-flex;
        margin-bottom: 12px;

        &:not(:last-child) {
            margin-right: 8px;
        }
        span {
        display: inline-flex;
        padding: 8px 12px;
        border: 1px solid #E0E0E0;
        border-radius: 3px;
        transition: 0.4s;
        }
        input {
            display: none;
            &:checked + span {
                opacity: 0.6;
            }
        }
    }
}
