.catalog {
  &__proportion {
  }
}
.proportion {
  &__subtitle {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
  }

  &__filters {
    display: flex;
    flex-wrap: wrap;

    &:last-child {
      margin-top: 8px;
      .proportion__filter {
        margin-right: 10px;

        span {
          padding: 11px 9px;
        }
      }
    }
  }
  &__custom-checkbox {
    position: relative;
    input {
      display: none;

      &:checked + span:after {
        content: '';
        position: absolute;
        left: 14px;
        width: 20px;
        height: 20px;
        background: url('../img/check.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
      }
    }
    span {
      display: flex;
      align-items: center;
      margin-left: 14px;

      &:before {
        content: '';
        position: static;
        display: block;
        width: 20px;
        height: 20px;
        border: 1px solid #bdbdbd;
        box-sizing: border-box;
        margin-right: 12px;
      }
    }
  }
  &__filter {
    position: relative;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 12px;

    &:not(:last-child) {
      margin-right: 8px;
    }
    span {
      display: inline-flex;
      min-width: 76px;
      font-weight: 300;
      justify-content: center;
      align-items: center;
      padding: 8px;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      transition: 0.4s;
    }
    input {
      display: none;
      &:checked + span {
        border-color: #eb5757;
      }
    }

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    }

    &_md {
      position: relative;
    cursor: pointer;
    display: inline-flex;
    margin-bottom: 6px;

    &:not(:last-child) {
      margin-right: 10px;
    }
    span {
      display: inline-flex;
      padding: 8px 16px;
      border: 1px solid #e0e0e0;
      border-radius: 3px;
      transition: 0.4s;
    }
    input {
      display: none;
      &:checked + span {
        border-color: #eb5757;
      }
    }

    &.disabled {
      opacity: 0.6;
      pointer-events: none;
    } 
    }
  }
}
.choices__inner {
  min-height: 43px;
}
