.useful {
    padding-top: 68px;
    background-color: #fefefe;

    &__container {

    }
    &__title {
        font-weight: bold;
        font-size: 28px;
        line-height: 40px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-bottom: 32px;
        @include for-tablet {
            font-size: 24px;
        }
        @include for-mobile {
            font-size: 20px;
        }
    }
    
    &__group {
        font-weight: 300;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #000000;
        margin-bottom: 44px;
        overflow: auto;
    }
    
    &__group-item {
        flex: 0 0 auto;
        padding: 8px 12px;
        background: #FFFFFF;
        border: 1px solid #E0E0E0;
        box-sizing: border-box;
        border-radius: 3px;
        margin-bottom: 10px;

        span {
            opacity: 0.5;
        }
        &:not(:last-child) {
            margin-right: 12px;
        }
    }
    
    &__row {
        // display: flex;
    }

    &__price {
        padding-left: 0;
    }
}
    