@font-face {
  font-family: 'AA Haymaker';
  src: url('../fonts/AAHaymaker.eot');
  src: local('../fonts/AA Haymaker'), local('../fonts/AAHaymaker'),
    url('../fonts/AAHaymaker.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AAHaymaker.woff') format('woff'),
    url('../fonts/AAHaymaker.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@mixin for-desktop {
  @media (max-width: 1240px) {
    @content;
  }
}

@mixin for-tablet {
  @media (max-width: 1000px) {
    @content;
  }
}

@mixin for-mobile {
  @media (max-width: 660px) {
    @content;
  }
}
