.viewed {
  padding-top: 72px;
  padding-bottom: 50px;
  background-color: #fefefe;
  @include for-tablet {
    padding-top: 49px;
  }

  @include for-mobile {
    padding-top: 42px;

    .slick-item {
      width: 240px;
    }
  }
  &__container {
    @include for-mobile {
      width: 100vw !important;
      padding-left: 14px;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #000000;
    margin-bottom: 32px;
    @include for-tablet {
      font-size: 24px;
    }
    @include for-mobile {
      font-size: 20px;
      margin-bottom: 20px;
    }
  }

  &__row {
    // display: flex;
    // flex-wrap: wrap;
  }
  &__card {
    width: 25%;
    &:first-child {
      border-bottom-width: 1px;
    }
    &:nth-child(3) {
      border-right-width: 0;
    }
    &:nth-child(4) {
      border-right-width: 1px;
    }
    @include for-desktop {
      width: 50%;
      &:nth-child(1) {
        border-bottom-width: 0;
      }
      &:nth-child(2) {
        border-bottom-width: 0;
        border-right-width: 1px;
      }
    }
    @include for-mobile {
      width: 100%;
      &:nth-child(3) {
        border-right-width: 1px;
      }
    }
  }
  &__price {
    padding-left: 0;
    margin-left: 0;
  }

  &__product {
    height: 424px;

    @include for-tablet {
      min-height: 355px;
      height: auto;
    }

    .slick-slide {
      height: 257px;

      @include for-tablet {
        height: 207px;
      }
    }
  }

  .product .catalog__card-title {
    height: 40px;
    overflow: hidden;
  }
}
